<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
</head>
<body>
	<h2>Create a New Post</h2>

	<form action="/create" method="post">
	    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    <input type="text" name="title">
	    <textarea name='content'></textarea>
	    <input type='submit' value='Create'>
	</form>


</body>
</html>
