<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Hello World!</h1>

	<% @users.each do |user| %>
		<p>Name: <%= user.firstname %> <%= user.lastname %></p>

	<% end %>

</body>
</html>